.ci{
    height: 215px;
    margin-right: px;
}
.ci span.sp-1{
    display: inline-block;
    margin-bottom: 10px;

}

.socials{
    margin-top: 30px;
}

.map{
    height: 100%;
    height: 280px;
    
}



ul.topnav{
    margin-top: 20px!important;
}